@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* basic styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1050px;
  margin: auto;
}

/* ---------------------------------
            Main Style Start 
    --------------------------------*/

#header {
  background-color: #2d25a0;
  padding-top: 100px;
  padding-bottom: 56px;
}

.header-t {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  margin-right: 102px;
}
.header-content h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  width: 485px;
  height: 230px;
  color: #fff;
  padding-bottom: 25px;
}
.b-btn {
  width: 168px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #e02c6d;
  border-radius: 5px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.b-btn:hover i {
  transform: translate(23px) scale(1.5);
  transition: transform 0.9s;
}

.header-image img {
  width: 556.1px;
  height: 438px;
}
/* ----------------players---------------- */
#players {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1.6rem;
  grid-column-gap: 1rem;
  margin-top: 4.5rem;
  margin-bottom: 10.3rem;
}
.players-item {
  width: 330px;
  height: 474px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 1rem;
}
.player-info h2 {
  margin-bottom: 5px;
}

/* -----------------Our subscribe--------------- */

.sub-heading h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.our-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.our-subscribe input {
  width: 400px;
  height: 37px;
  padding-left: 15px;
  margin-right: 20px;
  border-radius: 10px;
  outline: 0;
  border: 2px solid #ddd;
}
.our-subscribe ::placeholder {
  font-weight: 600;
  color: #ddd;
}

.our-subscribe input:focus {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
